* text=auto !eol
/.classpath -text svneol=unset#text/plain
/.project -text svneol=unset#text/plain
.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.jdt.groovy.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.m2e.core.prefs -text svneol=unset#text/plain
/LICENSE.txt -text svneol=unset#text/plain
/pom.xml -text svneol=unset#text/plain
src/main/assembly/assembly-bin.xml -text svneol=unset#text/plain
src/main/assembly/assembly-src.xml -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/DummyMessageSecurityProvider.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/MessageException.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/MessageSecurityProvider.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/SimpleMessageSecurityProvider.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/heartbeat/HealthStatus.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/heartbeat/HeartBeatMessage.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/heartbeat/HeartBeatParser.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/heartbeat/MonitoringPoint.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/DefaultMessageNameCatalogue.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/DefaultPKIMessageParser.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/MessageNameCatalogue.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/PKIMessageParser.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/PKIMessageParserFactory.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/PKIMessageResponseData.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/PKIMessageUtils.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/X509DataOnlyKeySelector.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/X509KeySelector.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/XSDLSInput.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/constants/AvailableCredentialStatuses.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/constants/AvailableCredentialTypes.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/constants/Constants.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/Attribute.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/ChangeCredentialStatusRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/ChangeCredentialStatusResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/Credential.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/CredentialRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/CredentialStatusList.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/FetchHardTokenDataRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/FetchHardTokenDataResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/GetCredentialRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/GetCredentialResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/GetCredentialStatusListRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/GetCredentialStatusListResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/GetIssuerCredentialsRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/GetIssuerCredentialsResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/IsIssuerRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/IsIssuerResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/IssueCredentialStatusListRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/IssueCredentialStatusListResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/IssueTokenCredentialsRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/IssueTokenCredentialsResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/ObjectFactory.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/Originator.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/PKIMessage.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/PKIRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/PKIResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/RemoveCredentialRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/RemoveCredentialResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/RequestStatus.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/StoreHardTokenDataRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/StoreHardTokenDataResponse.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/TokenRequest.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/jaxb/package-info.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/manager/DefaultMessageManager.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/manager/DummyMessageHandler.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/manager/MessageHandler.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/manager/MessageManager.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/pkimessages/manager/MessageResponseCallback.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/receipts/ReceiptMessage.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/receipts/ReceiptMessageException.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/receipts/ReceiptParser.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/receipts/ReceiptStatus.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/utils/DefaultSystemTime.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/utils/MessageGenerateUtils.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/utils/SettingsUtils.java -text svneol=unset#text/plain
src/main/java/org/certificateservices/messages/utils/SystemTime.java -text svneol=unset#text/plain
src/main/resources/credmanagement_schema2_0.xsd -text svneol=unset#text/plain
src/main/resources/csmessages_schema2_0.xsd -text svneol=unset#text/plain
src/main/resources/dummykeystore.jks -text
src/main/resources/keystoremgmt_schema2_0.xsd -text svneol=unset#text/plain
src/main/resources/pkimessages_1_0.zip -text
src/main/resources/pkimessages_1_0/pkimessages_examplerequest.xml -text svneol=unset#text/plain
src/main/resources/pkimessages_1_0/pkimessages_exampleresponse.xml -text svneol=unset#text/plain
src/main/resources/pkimessages_1_0/pkimessages_schema.xsd -text svneol=unset#text/plain
src/main/resources/pkimessages_examplerequest.xml -text svneol=unset#text/plain
src/main/resources/pkimessages_exampleresponse.xml -text svneol=unset#text/plain
src/main/resources/pkimessages_schema1_0.xsd -text svneol=unset#text/plain
src/main/resources/pkimessages_schema1_1.xsd -text svneol=unset#text/plain
src/main/resources/sysconfig_schema2_0.xsd -text svneol=unset#text/plain
src/main/resources/test.cer -text
src/main/resources/xmldsig-core-schema.xsd -text svneol=unset#text/plain
src/site/markdown/README.md -text
src/site/resources/PKIMessage_Protocol_Specification_1.0_Revision_1.1.doc -text
src/site/resources/images/logo.png -text
src/site/site.xml -text svneol=unset#text/plain
src/test/groovy/org/certificateservices/messages/DummyPKIMessageSecurityProviderSpec.groovy -text
src/test/groovy/org/certificateservices/messages/SimplePKIMessageSecurityProviderSpec.groovy -text
src/test/groovy/org/certificateservices/messages/heartbeat/HeartBeatMessageSpec.groovy -text
src/test/groovy/org/certificateservices/messages/heartbeat/MonitoringPointSpec.groovy -text
src/test/groovy/org/certificateservices/messages/pkimessages/DefaultMessageNameCatalogueSpec.groovy -text
src/test/groovy/org/certificateservices/messages/pkimessages/DefaultPKIMessageParserSpec.groovy -text
src/test/groovy/org/certificateservices/messages/pkimessages/PKIMessageParserFactorySpec.groovy -text
src/test/groovy/org/certificateservices/messages/pkimessages/PKIMessageResponseDataSpec.groovy -text
src/test/groovy/org/certificateservices/messages/pkimessages/PKIMessageUtilsSpec.groovy -text
src/test/groovy/org/certificateservices/messages/pkimessages/TestMessages.groovy -text
src/test/groovy/org/certificateservices/messages/pkimessages/manager/DefaultMessageManagerSpec.groovy -text
src/test/groovy/org/certificateservices/messages/receipts/ReceiptStatusSpec.groovy -text
src/test/groovy/org/certificateservices/messages/utils/DefaultSystemTimeSpec.groovy -text
src/test/groovy/org/certificateservices/messages/utils/MessageGenerateUtilsSpec.groovy -text
src/test/groovy/org/certificateservices/messages/utils/SettingsUtilsSpec.groovy -text
src/test/java/org/certificateservices/messages/pkimessages/DummyPKIMessageParser.java -text svneol=unset#text/plain
src/test/java/org/certificateservices/messages/pkimessages/manager/DummyMessageManager.java -text svneol=unset#text/plain
src/test/resources/testtruststore.jks -text
